.nav-white {
    color: #fff !important;
}

a #logo {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: none;
}

a.navbar-brand span {
    animation: light 1s infinite linear;
}

a span:nth-child(1) {
    animation-delay: 0s;
}

a span:nth-child(2) {
    animation-delay: 0.1s;
}

a span:nth-child(3) {
    animation-delay: 0.2s;
}

a span:nth-child(4) {
    animation-delay: 0.3s;
}

a span:nth-child(5) {
    animation-delay: 0.4s;
}

a span:nth-child(6) {
    animation-delay: 0.5s;
}

a span:nth-child(7) {
    animation-delay: 0.6s;
}

a span:nth-child(8) {
    animation-delay: 0.7s;
}

a span:nth-child(9) {
    animation-delay: 0.8s;
}

a span:nth-child(10) {
    animation-delay: 0.9s;
}

@keyframes light {
    0%,
    80% {
        color: #333;
        text-shadow: none;
    }
    100% {
        color: #fff;
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 80px #fff, 0 0 120px #fff, 0 0 160px #fff;
    }
}

ul a {
    font-weight: 600;
    margin-left: 1px;
    transition: all 0.8s linear;
    border-radius: 8px;
    position: relative;
    width: 100%;
    color: #fff;
}

ul a:hover {
    background: #99AAB5;
}

ul a::before {
    content: '';
    position: absolute;
    background: inherit;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    border-radius: 50px;
    filter: blur(20px);
    opacity: 0;
    transition: opacity 0.5s;
}

ul a:hover:before {
    opacity: 1;
    z-index: -1;
}

ul a:hover {
    z-index: 1;
    animation: glow 8s linear infinite;
}

@keyframes glow {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}

ul button:hover {
    background: #99AAB5;
}

ul button::before {
    content: '';
    position: absolute;
    background: inherit;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    border-radius: 50px;
    filter: blur(20px);
    opacity: 0;
    transition: opacity 0.5s;
}

ul button:hover:before {
    opacity: 1;
    z-index: -1;
}

ul button:hover {
    z-index: 1;
    animation: glow 8s linear infinite;
}

@keyframes glow {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}