<header class="bg-feldgrau py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">Watch what you desire based on your mood!</h1>
                    <p class="lead fw-normal text-white-50 mb-4">Take a quick test that will customize your desired movies and build the optimal recommendations for you.</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Get Started</a>
                        <a class="btn btn-outline-light btn-lg px-4" href="#!">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
                <img class="rounded-3 my-5" src="https://images.unsplash.com/photo-1616530940355-351fabd9524b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fG1vdmllfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" width="600" height="400" alt="random movies"/>
            </div>
        </div>
    </div>
</header>
<div class="container mt-5 mb-5">
    <div class="card-deck">
        <div class="col-sm-2 border border-dark card">
          <img class="card-img-top img-fluid" src="https://images.fandango.com/ImageRenderer/200/0/redesign/static/img/default_poster.png/0/images/masterrepository/Fandango/223021/FND_poster_VenomLTBC_PreSale.jpg" alt="Card image cap" width="400" height="300">
          <div class="card-body">
            <h5 class="card-title font-RobotoMono">VENOM: LET THERE BE CARNAGE (2021)</h5>
            <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
            <p class="card-text"><small class="text-muted">Fri, Oct 1</small></p>
          </div>
        </div>
        <div class="col-sm-2 border border-dark card">
            <img class="card-img-top img-fluid" src="https://images.fandango.com/ImageRenderer/200/0/redesign/static/img/default_poster.png/0/images/masterrepository/Fandango/223021/FND_poster_VenomLTBC_PreSale.jpg" alt="Card image cap" width="400" height="300">
            <div class="card-body">
              <h5 class="card-title font-RobotoMono">VENOM: LET THERE BE CARNAGE (2021)</h5>
              <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
              <p class="card-text"><small class="text-muted">Fri, Oct 1</small></p>
            </div>
        </div>
        <div class="col-sm-2 border border-dark card">
            <img class="card-img-top img-fluid" src="https://images.fandango.com/ImageRenderer/200/0/redesign/static/img/default_poster.png/0/images/masterrepository/Fandango/223021/FND_poster_VenomLTBC_PreSale.jpg" alt="Card image cap" width="400" height="300">
            <div class="card-body">
              <h5 class="card-title font-RobotoMono">VENOM: LET THERE BE CARNAGE (2021)</h5>
              <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
              <p class="card-text"><small class="text-muted">Fri, Oct 1</small></p>
            </div>
        </div>
        <div class="col-sm-2 border border-dark card">
            <img class="card-img-top img-fluid" src="https://images.fandango.com/ImageRenderer/200/0/redesign/static/img/default_poster.png/0/images/masterrepository/Fandango/223021/FND_poster_VenomLTBC_PreSale.jpg" alt="Card image cap" width="400" height="300">
            <div class="card-body">
              <h5 class="card-title font-RobotoMono">VENOM: LET THERE BE CARNAGE (2021)</h5>
              <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
              <p class="card-text"><small class="text-muted">Fri, Oct 1</small></p>
            </div>
        </div>
        <div class="col-sm-2 border border-dark card">
            <img class="card-img-top img-fluid" src="https://images.fandango.com/ImageRenderer/200/0/redesign/static/img/default_poster.png/0/images/masterrepository/Fandango/223021/FND_poster_VenomLTBC_PreSale.jpg" alt="Card image cap" width="400" height="300">
            <div class="card-body">
              <h5 class="card-title font-RobotoMono">VENOM: LET THERE BE CARNAGE (2021)</h5>
              <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
              <p class="card-text"><small class="text-muted">Fri, Oct 1</small></p>
            </div>
        </div>

      </div>
</div>