<header class="bg-feldgrau py-5">
  <!-- <div *ngIf="!isdetail"> -->
  <div class="container px-5">
    <div class="row gx-5 align-items-center justify-content-center">
      <div class="col-lg-8 col-xl-7 col-xxl-6">
        <div class="my-5 text-center text-xl-start">
          <h1 class="display-5 fw-bolder text-white mb-2">Watch what you desire based on your mood!</h1>
          <p class="lead fw-normal text-white-50 mb-4">Take a quick test that will customize your desired movies and
            build the optimal recommendations for you.</p>
          <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
            <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Get Started</a>
            <a class="btn btn-outline-light btn-lg px-4" routerLink="/faq">Learn More</a>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center">
      <ul class="pic">
        <p class="display-6 fw-bolder text-white mb-0">Recommended for you!</p>
        {{getNowPlaying()}}
        {{getPopular()}}
        {{getUpcoming()}}
        {{getTopRated()}}
        <li><img class="1" src="{{'https://image.tmdb.org/t/p/w500'+moviesNow[0].poster_path}}" alt="" width="200"
            height="317"></li>
        <li><img class="1" src="{{'https://image.tmdb.org/t/p/w500'+moviesPopular[1].poster_path}}" alt="" width="200"
            height="317"></li>
        <li><img class="1" src="{{'https://image.tmdb.org/t/p/w500'+moviesUpcoming[1].poster_path}}" alt="" width="200"
            height="317"></li>
        <li><img class="1" src="{{'https://image.tmdb.org/t/p/w500'+moviesTop[0].poster_path}}" alt="" width="200"
            height="317"></li>
        <li><img class="1" src="{{'https://image.tmdb.org/t/p/w500'+moviesNow[1].poster_path}}" alt="" width="200"
            height="317"></li>
      </ul>
    </div>

  </div>
  <!-- </div> -->

  <div class="container mt-5 mb-5">
    <h2 style="color: white;">Now playing</h2>
    <div class="card-deck">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img class="card-img-top img-fluid"
          src="{{'https://image.tmdb.org/t/p/w500'+moviesNow[0].poster_path}}"
          alt="Card image cap" style="width:233px;height:350px;">
          </div>
          <div class="flip-card-back">
            <h1>{{moviesNow[0].title}}</h1>
            <h3>Overview</h3>
            <p style="color: gray;">{{moviesNow[0].overview}}</p>
            <h3>Release date</h3>
            <p style="color: gray;">{{moviesNow[0].release_date}}</p>
            <h3>Vote Average</h3>
            <p style="color: gray;">{{moviesNow[0].vote_average}}</p>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img class="card-img-top img-fluid"
          src="{{'https://image.tmdb.org/t/p/w500'+moviesNow[1].poster_path}}"
          alt="Card image cap" style="width:233px;height:350px;">
          </div>
          <div class="flip-card-back">
            <h1>{{moviesNow[1].title}}</h1>
            <h3>Overview</h3>
            <p style="color: gray;">{{moviesNow[1].overview}}</p>
            <h3>Release date</h3>
            <p style="color: gray;">{{moviesNow[1].release_date}}</p>
            <h3>Vote Average</h3>
            <p style="color: gray;">{{moviesNow[1].vote_average}}</p>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img class="card-img-top img-fluid"
          src="{{'https://image.tmdb.org/t/p/w500'+moviesNow[2].poster_path}}"
          alt="Card image cap" style="width:233px;height:350px;">
          </div>
          <div class="flip-card-back">
            <h1>{{moviesNow[2].title}}</h1>
            <h3>Overview</h3>
            <p style="color: gray;">{{moviesNow[2].overview}}</p>
            <h3>Release date</h3>
            <p style="color: gray;">{{moviesNow[2].release_date}}</p>
            <h3>Vote Average</h3>
            <p style="color: gray;">{{moviesNow[2].vote_average}}</p>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img class="card-img-top img-fluid"
          src="{{'https://image.tmdb.org/t/p/w500'+moviesNow[3].poster_path}}"
          alt="Card image cap" style="width:233px;height:350px;">
          </div>
          <div class="flip-card-back">
            <h1>{{moviesNow[3].title}}</h1>
            <h3>Overview</h3>
            <p style="color: gray;">{{moviesNow[3].overview}}</p>
            <h3>Release date</h3>
            <p style="color: gray;">{{moviesNow[3].release_date}}</p>
            <h3>Vote Average</h3>
            <p style="color: gray;">{{moviesNow[3].vote_average}}</p>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img class="card-img-top img-fluid"
          src="{{'https://image.tmdb.org/t/p/w500'+moviesNow[4].poster_path}}"
          alt="Card image cap" style="width:233px;height:350px;">
          </div>
          <div class="flip-card-back">
            <h1>{{moviesNow[4].title}}</h1>
            <h3>Overview</h3>
            <p style="color: gray;">{{moviesNow[4].overview}}</p>
            <h3>Release date</h3>
            <p style="color: gray;">{{moviesNow[4].release_date}}</p>
            <h3>Vote Average</h3>
            <p style="color: gray;">{{moviesNow[4].vote_average}}</p>
          </div>
        </div>
      </div>
  
    </div>
  </div>
  <div class="container mt-5 mb-5">
    <h2 style="color: white;">In theatres</h2>
    <div class="card-deck">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img class="card-img-top img-fluid"
          src="{{'https://image.tmdb.org/t/p/w500'+moviesUpcoming[0].poster_path}}"
          alt="Card image cap" style="width:233px;height:350px;">
          </div>
          <div class="flip-card-back">
            <h1>{{moviesUpcoming[0].title}}</h1>
            <h3>Overview</h3>
            <p style="color: gray;">{{moviesUpcoming[0].overview}}</p>
            <h3>Release date</h3>
            <p style="color: gray;">{{moviesUpcoming[0].release_date}}</p>
            <h3>Vote Average</h3>
            <p style="color: gray;">{{moviesUpcoming[0].vote_average}}</p>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img class="card-img-top img-fluid"
          src="{{'https://image.tmdb.org/t/p/w500'+moviesUpcoming[1].poster_path}}"
          alt="Card image cap" style="width:233px;height:350px;">
          </div>
          <div class="flip-card-back">
            <h1>{{moviesUpcoming[1].title}}</h1>
            <h3>Overview</h3>
            <p style="color: gray;">{{moviesUpcoming[1].overview}}</p>
            <h3>Release date</h3>
            <p style="color: gray;">{{moviesUpcoming[1].release_date}}</p>
            <h3>Vote Average</h3>
            <p style="color: gray;">{{moviesUpcoming[1].vote_average}}</p>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img class="card-img-top img-fluid"
          src="{{'https://image.tmdb.org/t/p/w500'+moviesUpcoming[2].poster_path}}"
          alt="Card image cap" style="width:233px;height:350px;">
          </div>
          <div class="flip-card-back">
            <h1>{{moviesUpcoming[2].title}}</h1>
            <h3>Overview</h3>
            <p style="color: gray;">{{moviesUpcoming[2].overview}}</p>
            <h3>Release date</h3>
            <p style="color: gray;">{{moviesUpcoming[2].release_date}}</p>
            <h3>Vote Average</h3>
            <p style="color: gray;">{{moviesUpcoming[2].vote_average}}</p>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img class="card-img-top img-fluid"
          src="{{'https://image.tmdb.org/t/p/w500'+moviesNow[3].poster_path}}"
          alt="Card image cap" style="width:233px;height:350px;">
          </div>
          <div class="flip-card-back">
            <h1>{{moviesUpcoming[3].title}}</h1>
            <h3>Overview</h3>
            <p style="color: gray;">{{moviesUpcoming[3].overview}}</p>
            <h3>Release date</h3>
            <p style="color: gray;">{{moviesUpcoming[3].release_date}}</p>
            <h3>Vote Average</h3>
            <p style="color: gray;">{{moviesUpcoming[3].vote_average}}</p>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img class="card-img-top img-fluid"
          src="{{'https://image.tmdb.org/t/p/w500'+moviesUpcoming[4].poster_path}}"
          alt="Card image cap" style="width:233px;height:350px;">
          </div>
          <div class="flip-card-back">
            <h1>{{moviesUpcoming[4].title}}</h1>
            <h3>Overview</h3>
            <p style="color: gray;">{{moviesUpcoming[4].overview}}</p>
            <h3>Release date</h3>
            <p style="color: gray;">{{moviesUpcoming[4].release_date}}</p>
            <h3>Vote Average</h3>
            <p style="color: gray;">{{moviesUpcoming[4].vote_average}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-5 mb-5">
    <h2 style="color: white;">Popular</h2>
    <div class="card-deck">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img class="card-img-top img-fluid"
          src="{{'https://image.tmdb.org/t/p/w500'+moviesPopular[0].poster_path}}"
          alt="Card image cap" style="width:233px;height:350px;">
          </div>
          <div class="flip-card-back">
            <h1>{{moviesPopular[0].title}}</h1>
            <h3>Overview</h3>
            <p style="color: gray;">{{moviesPopular[0].overview}}</p>
            <h3>Release date</h3>
            <p style="color: gray;">{{moviesPopular[0].release_date}}</p>
            <h3>Vote Average</h3>
            <p style="color: gray;">{{moviesPopular[0].vote_average}}</p>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img class="card-img-top img-fluid"
          src="{{'https://image.tmdb.org/t/p/w500'+moviesPopular[1].poster_path}}"
          alt="Card image cap" style="width:233px;height:350px;">
          </div>
          <div class="flip-card-back">
            <h1>{{moviesPopular[1].title}}</h1>
            <h3>Overview</h3>
            <p style="color: gray;">{{moviesPopular[1].overview}}</p>
            <h3>Release date</h3>
            <p style="color: gray;">{{moviesPopular[1].release_date}}</p>
            <h3>Vote Average</h3>
            <p style="color: gray;">{{moviesPopular[1].vote_average}}</p>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img class="card-img-top img-fluid"
          src="{{'https://image.tmdb.org/t/p/w500'+moviesPopular[2].poster_path}}"
          alt="Card image cap" style="width:233px;height:350px;">
          </div>
          <div class="flip-card-back">
            <h1>{{moviesPopular[2].title}}</h1>
            <h3>Overview</h3>
            <p style="color: gray;">{{moviesPopular[2].overview}}</p>
            <h3>Release date</h3>
            <p style="color: gray;">{{moviesPopular[2].release_date}}</p>
            <h3>Vote Average</h3>
            <p style="color: gray;">{{moviesPopular[2].vote_average}}</p>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img class="card-img-top img-fluid"
          src="{{'https://image.tmdb.org/t/p/w500'+moviesPopular[3].poster_path}}"
          alt="Card image cap" style="width:233px;height:350px;">
          </div>
          <div class="flip-card-back">
            <h1>{{moviesPopular[3].title}}</h1>
            <h3>Overview</h3>
            <p style="color: gray;">{{moviesPopular[3].overview}}</p>
            <h3>Release date</h3>
            <p style="color: gray;">{{moviesPopular[3].release_date}}</p>
            <h3>Vote Average</h3>
            <p style="color: gray;">{{moviesPopular[3].vote_average}}</p>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img class="card-img-top img-fluid"
          src="{{'https://image.tmdb.org/t/p/w500'+moviesPopular[4].poster_path}}"
          alt="Card image cap" style="width:233px;height:350px;">
          </div>
          <div class="flip-card-back">
            <h1>{{moviesPopular[4].title}}</h1>
            <h3>Overview</h3>
            <p style="color: gray;">{{moviesPopular[4].overview}}</p>
            <h3>Release date</h3>
            <p style="color: gray;">{{moviesPopular[4].release_date}}</p>
            <h3>Vote Average</h3>
            <p style="color: gray;">{{moviesPopular[4].vote_average}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>