<div class="container">

    <p>faq works!</p>
    <h1>HELOOOOOOOOOOOOOOOOOO</h1>

    <h1>How is my mood impacted by what I watch?</h1>
    <h2>When we look at the three most common genres that users watch, Comedy, Romance, and Horror, 
        it is easy to see why the mood and media are so connected. 

        Comedies and romance-based media introduce an accessible source of laughter that offers 
        much-needed distance from personal problems whilst enhancing a sense of well-being, In fact, 
        this type of content can decrease stress hormones. Horror movies can replicate the excitement 
        felt by activities like sky-diving by causing spikes in adrenaline and cortisol levels. 
        The anticipation experienced whilst watching this type of content manifests in excitement 
        and can divert anxious thoughts. 
        </h2>
        <h1>What moods can I choose from on this site? </h1>
        <h2>Sad, Stressed, Joyful, Thrill-seeking, Upbeat, Calm, Bored, Cozy, and Nostalgic</h2>

       <h1>What else does this site provide?</h1>
       <h2>Everything we show you, linked to mood or not, has a current location of where to watch</h2>


</div>
