<div class="container">
  <h2 class="heading heading__secondary">FAQs</h2>
  <div class="faqs"> 

    <details class="faq">
      <summary class="faq__question"> How is my mood impacted by what I watch?</summary>
      <p class="faq__answer"> When we look at the three most common genres that users watch, Comedy, Romance, and Horror,
        it is easy to see why the mood and media are so connected.

        Comedies and romance-based media introduce an accessible source of laughter that offers
        much-needed distance from personal problems whilst enhancing a sense of well-being, In fact,
        this type of content can decrease stress hormones. Horror movies can replicate the excitement
        felt by activities like sky-diving by causing spikes in adrenaline and cortisol levels.
        The anticipation experienced whilst watching this type of content manifests in excitement
        and can divert anxious thoughts.</p>
    </details>




    <details class="faq">
      <summary class="faq__question">What moods can I choose from on this site? </summary>
      <p class="faq__answer">Sad, Stressed, Joyful, Thrill-seeking, Upbeat, Calm, Bored, Cozy, and Nostalgic</p>
    </details>


    <details class="faq">
      <summary class="faq__question"> Where does the movie data come from? </summary>
      <p class="faq__answer"> We take our data from The Movie Database by using their API.</p>
    </details>



    <details class="faq">
      <summary class="faq__question"> What else does this site provide?</summary>
      <p class="faq__answer"> Everything we show you, linked to mood or not, has a current location of where to watch.</p>
    </details> 