<body>
    <div class="loginBox">
        <h2>Login</h2>
        <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
            <div class="item">
                <input formControlName="email" type = "text" required>
                <label for ="">UserName</label>
            </div>
    <div class= "item">
        <input formControlName="password" type = "password" required>
        <label for="">PassWord</label>
    </div>
        <div *ngIf="firebaseErrorMessage != ''" class="error-style">
            <span>{{ firebaseErrorMessage }}</span>
        </div>
        <button class="btn">submit
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </button>
    </form>
</div>
</body>