<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoodForm</title>
</head>
<body>
    <form action ="">
        <table>
            <tr>
                <th>
                    <h1>Customize Your Mood</h1>
                </th>
            </tr>
            <tr>
                <td>Sad</td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" value = "Drama">Drama
                    <input type="checkbox" value = "Adventure ">Adventure
                    <input type="checkbox" value = "Family ">Family 
                    <input type="checkbox" value = "Romance ">Romance
                    <input type="checkbox" value = "Comedy ">Comedy
                    <input type="checkbox" value = "Music  ">Music
                    <input type="checkbox" value = "Animation ">Animation
                    <input type="checkbox" value = "Action">Action
                    <input type="checkbox" value = "Fantasy ">Fantasy
                    <input type="checkbox" value = "War">War
                    <input type="checkbox" value = "Western">Western
                    <input type="checkbox" value = "Science Fiction">Science Fiction
                    <input type="checkbox" value = "Documentary">Documentary
                    <input type="checkbox" value = "History">History
                </td>
            </tr>

            <tr>
                <td>Stressed</td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" value = "Drama">Drama
                    <input type="checkbox" value = "Adventure ">Adventure
                    <input type="checkbox" value = "Family ">Family 
                    <input type="checkbox" value = "Romance ">Romance
                    <input type="checkbox" value = "Comedy ">Comedy
                    <input type="checkbox" value = "Music  ">Music
                    <input type="checkbox" value = "Animation ">Animation
                    <input type="checkbox" value = "Action">Action
                    <input type="checkbox" value = "Fantasy ">Fantasy
                    <input type="checkbox" value = "War">War
                    <input type="checkbox" value = "Western">Western
                    <input type="checkbox" value = "Science Fiction">Science Fiction
                    <input type="checkbox" value = "Documentary">Documentary
                    <input type="checkbox" value = "History">History
                </td>
            </tr>

            <tr>
                <td>Joyful</td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" value = "Drama">Drama
                    <input type="checkbox" value = "Adventure ">Adventure
                    <input type="checkbox" value = "Family ">Family 
                    <input type="checkbox" value = "Romance ">Romance
                    <input type="checkbox" value = "Comedy ">Comedy
                    <input type="checkbox" value = "Music  ">Music
                    <input type="checkbox" value = "Animation ">Animation
                    <input type="checkbox" value = "Action">Action
                    <input type="checkbox" value = "Fantasy ">Fantasy
                    <input type="checkbox" value = "War">War
                    <input type="checkbox" value = "Western">Western
                    <input type="checkbox" value = "Science Fiction">Science Fiction
                    <input type="checkbox" value = "Documentary">Documentary
                    <input type="checkbox" value = "History">History
                </td>
            </tr>

            <tr>
                <td>Thrilled</td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" value = "Drama">Drama
                    <input type="checkbox" value = "Adventure ">Adventure
                    <input type="checkbox" value = "Family ">Family 
                    <input type="checkbox" value = "Romance ">Romance
                    <input type="checkbox" value = "Comedy ">Comedy
                    <input type="checkbox" value = "Music  ">Music
                    <input type="checkbox" value = "Animation ">Animation
                    <input type="checkbox" value = "Action">Action
                    <input type="checkbox" value = "Fantasy ">Fantasy
                    <input type="checkbox" value = "War">War
                    <input type="checkbox" value = "Western">Western
                    <input type="checkbox" value = "Science Fiction">Science Fiction
                    <input type="checkbox" value = "Documentary">Documentary
                    <input type="checkbox" value = "History">History
                </td>
            </tr>

            <tr>
                <td>Upbeat</td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" value = "Drama">Drama
                    <input type="checkbox" value = "Adventure ">Adventure
                    <input type="checkbox" value = "Family ">Family 
                    <input type="checkbox" value = "Romance ">Romance
                    <input type="checkbox" value = "Comedy ">Comedy
                    <input type="checkbox" value = "Music  ">Music
                    <input type="checkbox" value = "Animation ">Animation
                    <input type="checkbox" value = "Action">Action
                    <input type="checkbox" value = "Fantasy ">Fantasy
                    <input type="checkbox" value = "War">War
                    <input type="checkbox" value = "Western">Western
                    <input type="checkbox" value = "Science Fiction">Science Fiction
                    <input type="checkbox" value = "Documentary">Documentary
                    <input type="checkbox" value = "History">History
                </td>
            </tr>

            <tr>
                <td>Calm</td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" value = "Drama">Drama
                    <input type="checkbox" value = "Adventure ">Adventure
                    <input type="checkbox" value = "Family ">Family 
                    <input type="checkbox" value = "Romance ">Romance
                    <input type="checkbox" value = "Comedy ">Comedy
                    <input type="checkbox" value = "Music  ">Music
                    <input type="checkbox" value = "Animation ">Animation
                    <input type="checkbox" value = "Action">Action
                    <input type="checkbox" value = "Fantasy ">Fantasy
                    <input type="checkbox" value = "War">War
                    <input type="checkbox" value = "Western">Western
                    <input type="checkbox" value = "Science Fiction">Science Fiction
                    <input type="checkbox" value = "Documentary">Documentary
                    <input type="checkbox" value = "History">History
                </td>
            </tr>

            <tr>
                <td>Bored</td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" value = "Drama">Drama
                    <input type="checkbox" value = "Adventure ">Adventure
                    <input type="checkbox" value = "Family ">Family 
                    <input type="checkbox" value = "Romance ">Romance
                    <input type="checkbox" value = "Comedy ">Comedy
                    <input type="checkbox" value = "Music  ">Music
                    <input type="checkbox" value = "Animation ">Animation
                    <input type="checkbox" value = "Action">Action
                    <input type="checkbox" value = "Fantasy ">Fantasy
                    <input type="checkbox" value = "War">War
                    <input type="checkbox" value = "Western">Western
                    <input type="checkbox" value = "Science Fiction">Science Fiction
                    <input type="checkbox" value = "Documentary">Documentary
                    <input type="checkbox" value = "History">History
                </td>
            </tr>

            <tr>
                <td>Cozy</td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" value = "Drama">Drama
                    <input type="checkbox" value = "Adventure ">Adventure
                    <input type="checkbox" value = "Family ">Family 
                    <input type="checkbox" value = "Romance ">Romance
                    <input type="checkbox" value = "Comedy ">Comedy
                    <input type="checkbox" value = "Music  ">Music
                    <input type="checkbox" value = "Animation ">Animation
                    <input type="checkbox" value = "Action">Action
                    <input type="checkbox" value = "Fantasy ">Fantasy
                    <input type="checkbox" value = "War">War
                    <input type="checkbox" value = "Western">Western
                    <input type="checkbox" value = "Science Fiction">Science Fiction
                    <input type="checkbox" value = "Documentary">Documentary
                    <input type="checkbox" value = "History">History
                </td>
            </tr>

            <tr>
                <td>Nostalgic</td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" value = "Drama">Drama
                    <input type="checkbox" value = "Adventure ">Adventure
                    <input type="checkbox" value = "Family ">Family 
                    <input type="checkbox" value = "Romance ">Romance
                    <input type="checkbox" value = "Comedy ">Comedy
                    <input type="checkbox" value = "Music  ">Music
                    <input type="checkbox" value = "Animation ">Animation
                    <input type="checkbox" value = "Action">Action
                    <input type="checkbox" value = "Fantasy ">Fantasy
                    <input type="checkbox" value = "War">War
                    <input type="checkbox" value = "Western">Western
                    <input type="checkbox" value = "Science Fiction">Science Fiction
                    <input type="checkbox" value = "Documentary">Documentary
                    <input type="checkbox" value = "History">History
                </td>
            </tr>

            <tr>
                <th>
                    <input type="Later" value="Later" class = "btn" routerLink="/profile">
                    <input type="Reset" value="Reset" class = "btn">
                    <input type="Submit" value="Submit" class = "btn">
                </th>
            </tr>

        </table>
    </form>
    
</body>
</html>