<div class="my-2 container bg-light-white2">
    <div class="row py-2">
        <div class="col row-end">
            <!--profile picture-->
            <img class="pfp img-fluid border rounded"
                src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
                alt="profile picture" />
        </div>
        <div class="rounded bg-light-white3 col-10">
            <h1 class="profile-name text-uppercase"><strong>{{displayName}}</strong></h1>
            <textarea name="Bio" cols="150"
                rows="4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, ex rem, eos blanditiis enim nam eveniet accusantium eius in a ducimus maxime soluta repellat dignissimos ratione tempora velit consequuntur nisi!</textarea>
            <p class="align-bottom"><i>Member since 01-01-2021</i></p>
        </div>
    </div>
    <div class="my-3 row"></div>
    <!--Big Box w/ Blue Border-->
    <div class="row justify-content-center ">
        <div class="col-12 text-center">
            <h2 class="upgrade-size font-white">Watchlist</h2>
        </div>
        <!--Watchlist-->
        <div>
            <div class="justify-content-center col-12 bg-light scrollable rounded">
                <!--Card-->
                <div class="col-12 row">
                    <!--Movie Image-->
                    <div class="col-2">
                        <img class="hundbyhund border mx-1 my-1"
                            src="https://m.media-amazon.com/images/M/MV5BNDYxNjQyMjAtNTdiOS00NGYwLWFmNTAtNThmYjU5ZGI2YTI1XkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_FMjpg_UX1000_.jpg"
                            alt="The Kid" />
                    </div>
                    <!--Movie Info-->
                    <div class="col-4 pt-2">
                        <p class="font-watchlist">The Avengers</p>
                        <p>Action, Adventure <span> | </span> 2012 </p>
                        <button mat-stroked-button color="basic" onclick="">
                            <mat-icon>rate_review</mat-icon>
                            <span></span>
                        </button>
                        <button mat-stroked-button color="basic" onclick="">
                            <mat-icon>favorite</mat-icon>
                            <span></span>
                        </button>
                        <button mat-stroked-button color="basic" onclick="">
                            <mat-icon>delete</mat-icon>
                            <span></span>
                        </button>
                    </div>
                </div>
                <!--Card-->
                <div class="col-12 row">
                    <!--Movie Image-->
                    <div class="col-2">
                        <img class="hundbyhund border mx-1 my-1"
                            src="https://m.media-amazon.com/images/M/MV5BZjhhMThhNDItNTY2MC00MmU1LTliNDEtNDdhZjdlNTY5ZDQ1XkEyXkFqcGdeQXVyNjc1NTYyMjg@._V1_UX192_CR0%2C0%2C192%2C284_AL_.jpg"
                            alt="The Kid" />
                    </div>
                    <!--Movie Info-->
                    <div class="col-4 pt-2">
                        <p class="font-watchlist">The Kid</p>
                        <p>Comedy, Drama <span> | </span> 1921 </p>
                        <button mat-stroked-button color="basic" onclick="">
                            <mat-icon>rate_review</mat-icon>
                            <span></span>
                        </button>
                        <button mat-stroked-button color="basic" onclick="">
                            <mat-icon>favorite</mat-icon>
                            <span></span>
                        </button>
                        <button mat-stroked-button color="basic" onclick="">
                            <mat-icon>delete</mat-icon>
                            <span></span>
                        </button>
                    </div>
                </div>
                <!--Card-->
                <div class="col-12 row">
                    <!--Movie Image-->
                    <div class="col-2">
                        <img class="hundbyhund border mx-1 my-1"
                            src="https://m.media-amazon.com/images/M/MV5BMTM4NzQ0OTYyOF5BMl5BanBnXkFtZTcwMDkyNjQyMg@@._V1_FMjpg_UX1000_.jpg"
                            alt="The Kid" />
                    </div>
                    <!--Movie Info-->
                    <div class="col-4 pt-2">
                        <p class="font-watchlist">Taken</p>
                        <p>Action, Crime, Thriller <span> | </span> 2008</p>
                        <button mat-stroked-button color="basic" onclick="">
                            <mat-icon>rate_review</mat-icon>
                            <span></span>
                        </button>
                        <button mat-stroked-button color="basic" onclick="">
                            <mat-icon>favorite</mat-icon>
                            <span></span>
                        </button>
                        <button mat-stroked-button color="basic" onclick="">
                            <mat-icon>delete</mat-icon>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- <div class="col"></div> -->
</div>