<div class="row my-3"></div>
<div *ngIf="!isdetail">

    <div class="container">
        <div class="jumbotron">
            <h3 class="text-center">Search For Any Movie</h3>
            <form id="searchForm">
                <input type="text" class="form-control" id="searchText" placeholder="Search Movies..."
                    (keyup.enter)="getMovies($event)">
            </form>
        </div>
    </div>

    <div class="container">
        <div id="movies" class="row">

            <div class="col-md-3" style="width: 25% !important;" *ngFor="let movie of movies; let i = index ">
                <div class="well text-center">
                    <img class="rounded" src="{{'https://image.tmdb.org/t/p/w500'+movie.poster_path}}"
                    onerror="this.onerror=null;this.src='imagefound.gif';">
                    <h5>{{movie.title}}</h5>
                    <a (click)="movieSelected(movie.id)" class="btn btn-primary">Movie Details</a>
                </div>
            </div>

        </div>
    </div>
</div>
<div *ngIf="isdetail">


    <div class="container">
        <div id="movie" class="well">

            <div class="row">
                <div class="col-md-4" style="width: auto">
                    <img src="{{'https://image.tmdb.org/t/p/w500'+movie.poster_path}}" class="thumbnail"
                        style="width: auto">
                </div>
                <div class="col-md-8" style="width: auto">
                    <h2>{{movie.title}}</h2>
                    <ul class="list-group">
                        <li class="list-group-item"><strong>Genre:</strong> <span *ngFor="let x of movie.genres"> {{
                                x.name + ', '}}</span></li>
                        <li class="list-group-item"><strong>Language:</strong> {{movie.original_language}}</li>
                        <li class="list-group-item"><strong>Release Date:</strong> {{movie.release_date}}</li>
                        <li class="list-group-item"><strong>Tagline:</strong> {{movie.tagline}}</li>
                        <li class="list-group-item"><strong>Budget:</strong> {{'$' + movie.budget}}</li>
                        <li class="list-group-item"><strong>Vote Average:</strong> {{movie.vote_average}}</li>
                        <li class="list-group-item"><strong>Creator Page:</strong> {{movie.homepage}}</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="well">
                    <h3 class="my-1">Description</h3>
                    {{movie.overview}}
                    <hr>
                    <a href="{{movie.homepage}}" target="_blank" class="btn btn-primary">View Creator Page</a>
                    <a href="index.html" class="btn btn-close-white">Go Back To Search</a>
                    <div class="row my-3"></div>
                </div>
            </div>
        </div>
    </div>

</div>