#providerLogo{
  border-radius: 10px;
  width: 80px;
  height: 80px;
  padding-top: 10px;
}

#profile {
  border-radius: 9px;
  width: 138px;
  height: 175px;
}



@media(min-width:960px){}
  #movies .col-md-3 .well{
    height: 390px;
  }

  #movies .col-md-3 img{
    height:240px;
  }

  #poster {
    height: 240px;
    width: 160px;
  }

  .scrolling-wrapper {
    overflow-x: hidden;
    overflow-y: hidden;
    overflow: auto;
    white-space: nowrap;
    color: rgb(241, 21, 21);
  }
  .card {
    display: inline-block;
    color: rgb(255, 255, 255);
  }

  .horizontal-scroll-wrapper {
    width: auto;
    height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
  }