  body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #cecece;
  }
  
  .card{
    position: relative;
    width: 550px;
    height:320px;
    background: #fff;
    border-radius:20px;
    box-shadow: 0 10px 50px rgba(0,0,0,.3);
  }
  
  .slide{
    position:absolute;
    bottom:20px;
    width:100%;
    text-align:center;
    z-index:1;
  }
  
  .slide label{
    display: inline-block;
    width: 50px;
    height: 10px;
    background: #d9d9d9;
    border-radius:10px;
    margin: 0 3px;
    position: relative;
  }
  
  .slide label::before{
    content: '';
    width: -100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    border-radius: 10px;
    transform:scaleX(0);
    transform-origin: left;
    transition: transform .6s;
  }
  
  .content{
    height: 320px;
    position: absolute;
    display:flex;
    align-items:center;
    justify-content:center;
    padding-left:25px;
  }
  
  .pic{
    width: 180px;
    height:180px;
    border-radius:20px;
    box-shadow: 0 10px 50px rgba(0,0,0,.2);
    overflow: hidden;
  }
  
  .pic img{
    display:block;
    width:100%;
    height:100%;
  }
  
  .txt{
    width:300px;
    padding-left:20px;
    margin-left:20px;
  }
  
  .txt .tit{
    font-size: 30px;
    font-weight: 700;
    color:#0d0925;
    margin-bottom:10px;
  }
  
  .txt .info{
    font-size:18px;
    color: #4e4a67;
    margin-bottom:20px;
    line-height:1.5em;
    text-align:justify;
  }
  
  .txt .btn{
    border:0;
    outline:0;
    padding:10px 15px;
    border-radius: 50px;
    letter-spacing: 1px;
    font-size:14px;
    color:#fff0e6;
    font-weight:600;
    cursor:pointer;
    background:#000;
    float:right;
  }
  
  .txt .btn:hover{
    background:#cecece;
    color: #000;
  }
  
  .pic img,.txt{
    opacity:0;
    transition:.6s;
  }
  
  #slide_1:checked~.slide .slide_btn_1::before,
  #slide_2:checked~.slide .slide_btn_2::before,
  #slide_3:checked~.slide .slide_btn_3::before{
    width:100%;
    transform: scaleX(1);
  }
  
  #slide_1:checked~.content .img_1,
  #slide_2:checked~.content .img_2,
  #slide_3:checked~.content .img_3{
    opacity:1;
    transition-delay:.2s;
  }
  
  #slide_1:checked~.content .txt_1,
  #slide_2:checked~.content .txt_2,
  #slide_3:checked~.content .txt_3{
    opacity:1;
    margin-left:0;
    z-index:100;
    transition-delay:.3s;
  }
  
  #slide_img:checked~.content .pic{
    width:550px;
    height:320px;
    z-index:999;
    transition: .3s .2s ease-in;
  }
  #slide_img:checked~.content .txt{
    display: none;
  }
  
  #slide_img:checked~.content{
    padding:0;
    transition: .1s ease;
  }

  body input{
    display:none;
  }
  

  
#providerLogo{
  border-radius: 10px;
  width: 80px;
  height: 80px;
  padding-top: 10px;
}

#profile {
  border-radius: 9px;
  width: 138px;
  height: 175px;
}



@media(min-width:960px){}
  #movies .col-md-3 .well{
    height: 390px;
  }

  #movies .col-md-3 img{
    height:240px;
  }

  #poster {
    height: 240px;
    width: 160px;
  }

  .scrolling-wrapper {
    overflow-x: hidden;
    overflow-y: hidden;
    overflow: auto;
    white-space: nowrap;
    color: rgb(241, 21, 21);
  }
  .card {
    display: inline-block;
    color: rgb(255, 255, 255);
  }

  .horizontal-scroll-wrapper {
    width: auto;
    height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
  }