<div class="row my-3"></div>
<div *ngIf="!isdetail">

    <div class="container">
        <div class="jumbotron">
            <h3 class="text-center">Search For Any Movie</h3>
            <form id="searchForm">
                <input type="text" class="form-control" id="searchText" placeholder="Search Movies..."
                    (keyup.enter)="getMovies($event)">
            </form>
        </div>
    </div>

    <div class="container">
        <div id="movies" class="row">

            <div class="col-md-3" style="width: 25% !important;" *ngFor="let movie of movies; let i = index ">
                <div class="well text-center">
                    <img class="rounded" src="{{'https://image.tmdb.org/t/p/w500'+movie.poster_path}}"
                    onerror="this.onerror=null;this.src='NoImage.jpg';">
                    <h5>{{movie.title}}</h5>
                    <a (click)="movieSelected(movie.id)" class="btn btn-primary">Movie Details</a>
                </div>
            </div>

        </div>
    </div>
</div>
<div *ngIf="isdetail">

    <div class="container">
        <div id="movie" class="well">

            <div class="row">
                <div class="col-md-4" style="width: auto">
                    <img src="{{'https://image.tmdb.org/t/p/w500'+movie.poster_path}}" class="thumbnail"
                        style="width: auto">
                </div>
                <div class="col-md-8" style="width: auto">
                    <h2>{{movie.title}}</h2>
                    <ul class="list-group">
                        <li class="list-group-item"><strong>Genre:</strong> <span *ngFor="let x of movie.genres"> {{
                                x.name + ', '}}</span></li>
                        <li class="list-group-item"><strong>Language:</strong> {{movie.original_language}}</li>
                        <li class="list-group-item"><strong>Release Date:</strong> {{movie.release_date}}</li>
                        <li class="list-group-item"><strong>Tagline:</strong> {{movie.tagline}}</li>
                        <li class="list-group-item"><strong>Budget:</strong> {{'$' + movie.budget}}</li>
                        <li class="list-group-item"><strong>Vote Average:</strong> {{movie.vote_average}}</li>
                        <li class="list-group-item"><strong>Creator Page:</strong> {{movie.homepage}}</li>
                    </ul>
                </div>
            </div>

            <div class="row">
              <div id="providerLogo"  *ngFor="let provider of providers; let i = index ">
                  <div class="well text-center">
                      <img class="rounded" src="{{'https://image.tmdb.org/t/p/w500'+provider.logo_path}}"
                      onerror="this.onerror=null;this.src='NoImage.jpg';">
                  </div>
              </div>
                <div class="well">
                    <h3 class="my-1">Description</h3>
                    {{movie.overview}}
                    <h3 class="my-1ç">Top Cast</h3>
                    <div class="my-1 scrollable horizontal-scroll-wrapper">
                        <br>
                        <div class="row">
                            <div class="col-2" *ngFor="let cast of casts; let i = index ">
                                <img src="{{'https://image.tmdb.org/t/p/w500'+cast.profile_path}}" id="profile" onerror="this.onerror=null;this.src='NoImage.jpg';">
                                <p>{{cast.name}}</p>
                            </div>
                        </div>
                      </div>

                    <hr>
                    <a href="{{movie.homepage}}" target="_blank" class="btn btn-primary">View Creator Page</a>
                    <a href="index.html" class="btn btn-close-white">Go Back To Search</a>
                    <div class="row my-3"></div>
                </div>
            </div>
        </div>
    </div>

</div>


<body>
    <div class = "card">
        <input type = "radio" name = "select" id = "slide_1" checked>
        <input type = "radio" name = "select" id = "slide_2">
        <input type = "radio" name = "select" id = "slide_3">
        <input type = "checkbox" id="slide_img">
    
        <div class="slide">
            <label for="slide_1" class = "slide_btn_1"></label>
            <label for="slide_2" class = "slide_btn_2"></label>
            <label for="slide_3" class = "slide_btn_3"></label>
        </div>
    
            <div class="content">
                <label for="slide_img" class="pic">
                    <img src="https://images.fandango.com/ImageRenderer/200/0/redesign/static/img/default_poster.png/0/images/spotlight/FND_poster_Spencer_OnDemand.jpg" 
                      alt=""  class="img_1">
                </label>
            <div class="txt txt_1">
                <h2 class ="tit">SPENCER</h2>
                <p class="info">9999999999</p>
                <button class="btn">Details</button>
            </div>
        </div>
    
            <div class="content">
                <label for="slide_img" class="pic">
                    <img src="https://images.fandango.com/ImageRenderer/200/0/redesign/static/img/default_poster.png/0/images/spotlight/FND_poster_Venom2_OnDemand.jpg" 
                      alt=""  class="img_2">
                </label>
            <div class="txt txt_2">
                <h2 class ="tit">VENOM: LET THERE BE CARNAGE (2021)</h2>
                <p class="info">7654321</p>
                <button class="btn">Details</button>
            </div>
            </div>
    
            <div class="content">
                    <label for="slide_img" class="pic">
                        <img src="https://images.fandango.com/ImageRenderer/200/0/redesign/static/img/default_poster.png/0/images/masterrepository/Fandango/224993/FND_poster_Clifford_InTheaters.jpg" 
                      alt="" class="img_3">
                    </label>
                <div class="txt txt_3">
                    <h2 class ="tit">CLIFFORD THE BIG RED DOG (2021)</h2>
                    <p class="info">asdfghj</p>
                    <button class="btn">Details</button>
                </div>
            </div>
    
    </div>
</body>
  
