/* You can add global styles to this file, and also import other style files */

.bg-feldgrau {
  background-color: rgb(113, 149, 216);
}

.font-RobotoMono {
  font-family: Roboto Mono, monospace;
  font-size: 1em;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

/* From Dyllan's Branch */
#movies img,
#movie img {
  width: 100%;
}

@media (min-width: 960px) {
}
#movies .col-md-3 .well {
  height: 390px;
}

#movies .col-md-3 img {
  height: 240px;
}

.pfp {
  width: 180px;
  height: 180px;
}

.profile-name {
  font-size: 20px;
}

.bg-light-white3 {
  background-color: rgba(255, 255, 255, 0.3);
}

.bg-light-white2 {
  background-color: rgba(255, 255, 255, 0);
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.upgrade-size {
  font-size: 1.8em;
}

.font-white {
  color: white;
}

.scrollable {
  overflow: scroll;
  height: 400px;
}

.hundbyhund {
  height: 144px;
  width: 98px;
}

.font-watchlist{
  font-size: 18px;
}

text-center {
  text-align: center;
}

textarea {
  resize: both;
  font-size: .8rem;
  letter-spacing: 1px;
  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
